@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
